/* Global Styles */
body {
    /* background-color: #1543ce!important; */
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.header-font {
    font-family: 'K2D', sans-serif;
} 
/* Homepage */

/* NavBar */
nav {
    color: #385dc9;
}

.navbar-toggler {
    background: red;
}

.lmes_logo {
    width: 42px;
    height: 42px;
}

/* Carousel  */
.carousel-inner {
    border-radius: 2px;
}
/* About Us*/

.content-container {
    width: 80%;
    margin: 0 auto;
}

.content-container > h1 {
    padding: 7.5px 0;
    margin: 0 0;
    font-family: 'K2D', sans-serif;
}

.content-container p {
    font-family: 'Roboto', sans-serif;
    color: #5c646b;
}

/* Info */

.info-contanier {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: 20px auto 20px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #385dc9;
    box-shadow: 1px 1px 4px 2px rgba(56,93,201,0.4);
}

.info-contanier p{
    width: 86px;
    text-align: center;
    font-size: 0.9em;
    line-height: 95%
}

.info-piece {
    padding: 10px 0;
}


/* Companies */

.companies-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: 20px auto 20px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #385dc9;
    box-shadow: 1px 1px 4px 2px rgba(56,93,201,0.4);
}

.companies-container img {
    min-height: 125px;
    min-width: 125px;
    max-height: 125px;
    max-width: 125px;
    border-radius: 25%;
    margin: 5px 0;
    object-fit: contain;
}

/* Services */

/* Case Studies */

.card {
    margin: 20px auto;
    
}

/* Contact Us */

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: blue;

}

input[type=text] {
    flex-direction: column;
}

.map {
    height: 350px;
    width: 350px;
}