/* Global Styles */
body {
    background-color: #4169e1!important;
}
/* Homepage */
/* NavBar */
nav {
    
}

/* Carousel  */

/* About Us*/

.about-us-container {
    width: 90%;
    margin: 0 auto;
}

/* Info */

.info-contanier {
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;
    width: 90%;
    margin: 20px auto 20px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.info-contanier p{
    width: 96px;
    text-align: center;
}

.info-piece {

}

/* Companies */

.companies-container {
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;
    width: 90%;
    margin: 20px auto 20px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.companies-container img {
    max-height: 125px;
    max-width: 125px;
}